$icon-font-path: "/fonts/";
$body-bg: #EFEFEB;

@import "bootstrap";
@import "chat";
@import "navbar";
@import "contenteditable";

.user {
  margin-bottom: 10px;
  border-radius: 10px;
  .name {
    margin-top: 0;
    font-size: $font-size-large;
  }
}

.paper {
  background-color: white;
  padding: $padding-large-vertical $padding-large-horizontal;
  font-size: $font-size-large;
  border: 4px solid black;
  border-radius: 5px;
  max-width: 30em;

  form {
    margin-bottom: $form-group-margin-bottom;
  }
  input[type="text"], [contenteditable] {
    outline: none;
    width: 100%;
  }
  input[type="text"] {
    border-width: 0 0 2px 0;
    border-color: $input-color-placeholder;
    border-style: dashed;
  }
  .poem[contenteditable=true] {
    min-height: 10em;
  }
  .poem-rendered {
    white-space: pre-wrap;
  }
}
