$userHeight: 500px;
$userWidth: 200px;
$userPaddingTop: 20%;
$gameWidth: $userHeight;
$gameHeight: $userHeight;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  display: none;
}

.game {
  margin-bottom: 1rem;
  min-height: 230px;
  padding: 10px 0;
}

.users {
  margin: 0;
  padding: 0;
  .user {
    display: inline-block;
    position: relative;
    vertical-align: top;
    max-width: 200px;

    &.me.has-paper {
      .paper-area {
        border-color: #66afe9;
        outline: 0;
        box-shadow: 0 0 8px rgba(102,175,233,.6);
      }
    }
  }
  .paper-area {
    transition: all 0.5s ease;
    box-shadow: 0 0 8px rgba(0,0,0,.075);
    border: 1px solid #ccc;
  }
  .papers {
    min-height: 30px;
    text-align: right;
    background-color: #ccc;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .paper-icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-top: 5px;
    background-color: hsla(180, 100%, 100%, 0.8);
    &:first-child {
      background-color: hsla(220, 100%, 70%, 0.0);
    }
  }
  .current-paper {
    padding: 0.5rem;
    background-color: white;

    form {
      margin: 0;
    }
    input {
      padding: 0px 2px;
      line-height: 1;
      margin-top: 4px;
    }
    textarea {
      padding: 2px;
      line-height: 1;
      min-height: 100px;
      margin-top: 4px;
    }
  }
  .name {
    font-size: 15px;
  }
}

.poem-rendered {
  white-space: pre-line;
}

.btn-reveal {
  padding: 2px;
  font-size: 10px;
  margin-top: 4px;
}

.chat {
  form {
    margin-bottom: 0;
  }

  input[type=text] {
  }

  .chat-log {
    margin-top: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 10em;
    overflow-y: scroll;
    list-style-type: none;
    padding-left: 0.5em;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
}

